@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Slider Animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(0);
  }
  36.66% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-100%);
  }
  69.99% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-slide {
  animation: slide 15s ease-in-out infinite;
}
